@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #F0EFEF;
  --text-color: black;
}

.dark {
  --bg-color: #111827; /* slate-900 */
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
